<div>
  <textarea id="fe_text" name="" rows="7" cols="100"> <%= @output.gsub("<br>","\n") %></textarea>
  <button class='my_clip_button' data-clipboard-target='fe_text' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button'>
    <b>コピーする</b>
  </button>
</div>
