<h1>Homes#new</h1>
<p>Find me in app/views/homes/new.html.erb</p><br>

<h3>
<a href="/admin">データベースの状況の確認</a><br><br>
<a href="/user/pre_import">ユーザーのインポート</a><br><br>
<a href="/user.csv">ユーザーのエクスポート</a><br><br>
<a href="/electronic/pre_import">macアドレスのインポート</a><br><br>
<a href="/electronic.csv">macアドレスのエクスポート</a><br><br>
<a href="/command">YAMAHAルーターに送る設定コマンドの生成</a>
</h3>